/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html {
       overflow-y: scroll;
}



@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

/*  Re-Usables  */

/*  Color */
$grey: #3a3a3a;
$dk-grey: #777777;
$lt-grey: #999;
$white: #fff;
$green: #2dbcaf;
$dk-green: #28a59a;

.bg-green  {
    background-color: $green;
    border-top: 1px solid #1c9d91;
}

.type-white {
    color: #fff;
}

.quarter {
    width:25%;
}

.three-quarters {
    width:70%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width:50%;
}

.right  {
    float:right;
}

.left   {
    float:left;
}

/* Links/Buttons */

.small-link {
    color: $green;
    font-size: 12px;
}

a.small-link:hover  {
    color: $dk-green;
}

a.dk-green-button    {
    display: inline-block;
    font-size: 12px;
    font-weight: 200;
    line-height: .1;
    padding: 15px 30px;
    background-color: $dk-green;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* future proofing */
    -khtml-border-radius: 3px; /* for old Konqueror browsers */
    border: 0;
    font-size: 12px;
    color: #fff;

    a   {
        color: #fff;
    }
}

a.cover-button    {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: .1;
    padding: 17px 25px;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    border: 1px solid #0c8175;

    background: #34c6ba; /* Old browsers */
    background: -moz-linear-gradient(top,  #34c6ba 0%, #26b2a4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34c6ba), color-stop(100%,#26b2a4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #34c6ba 0%,#26b2a4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #34c6ba 0%,#26b2a4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #34c6ba 0%,#26b2a4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #34c6ba 0%,#26b2a4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34c6ba', endColorstr='#26b2a4',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: inset 0px 1px #5ce7dc;
    -webkit-box-shadow: inset 0px 1px #5ce7dc;
    box-shadow: inset 0px 1px #5ce7dc;

}

a.cover-button:hover   {
    background: #09c1af; /* Old browsers */
    background: -moz-linear-gradient(top,  #09c1af 0%, #00ad9c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09c1af), color-stop(100%,#00ad9c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #09c1af 0%,#00ad9c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #09c1af 0%,#00ad9c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #09c1af 0%,#00ad9c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #09c1af 0%,#00ad9c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09c1af', endColorstr='#00ad9c',GradientType=0 ); /* IE6-9 */

}

.dk-green-button:hover  {
        background-color:#20968c;
    }

/* Others
 */

.mt-10  {
    margin-top: 10px;
}

.spacer {
        width: 100%;
        height: 1px;
        background-color: #ccc;
        clear:both;
        margin:35px 0;
    }



/*  basics  */
body {
    font-family: 'PT Sans', 'Sans-serif';
    background-color: #3a3a3a;
    color: #777;
}
a   {
    text-decoration: none;
    color:$dk-grey;
    outline: 0;
    
}

a:active    {
   outline: 0; 
}

a:focus    {
   outline: 0; 
}

button:active    {
   outline: 0; 
}

button:focus    {
   outline: 0; 
}

li  {
    text-decoration: none;
}

h1  {
    font-size: 24px;
}

h2  {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}
h3  {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-style: italic;
    font-weight: bold;
}

h4  {
     font-size: 12px;   
     margin-bottom: 5px;
     font-style: italic;
}
h5  {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
    font-style: italic;

}

h6  {
     font-size: 18px;
     margin-bottom: 12px;
     margin-top: 3px; 
}

p   {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}

    




/*  Body  */
.wrapper    {
    width:auto;
    text-align: center;
    background-color: #e7e8e8;
}

    




/*  Header  */
header  {
    width: 100%;
    background-color:$grey;
    border-bottom: 1px solid #212020;

    .mobile-nav {
        display: none;
    }
}

.wrap-header    {
   width:1000px;
   margin:0 auto;
   padding:0 40px;
   text-align:left;
   position: relative;
}

.logo   {
    float:left;
    padding-top:25px;

    h1  a{
        font-weight: 700;
        font-style: italic;
        color: #fff;
    }
}

span.sub-logo    {
        font-size: .71em;
        color: $dk-grey;
        font-style:italic;
}

.burger-menu {
    display: none;
}

nav {
    float:right;
    height: 90px;
}

ul.menu li {
    float:left;

    a {
        color: $white;
        font-style: italic;
        font-size: 14px;
        display: block;
        padding: 0 25px;
        padding-top: 36px;
        height: 54px;
        border-right:1px solid #313131;
        border-left: 1px solid #404040;
        transition: all .2s ease; /* vendorless fallback */
        -o-transition: all .2s ease; /* opera */
        -ms-transition: all .2s ease; /* IE 10 */
        -moz-transition: all .2s ease; /* Firefox */
        -webkit-transition: all .2s ease; /*safari and chrome */
    }

    a.active {

    }

}

ul.menu li:nth-child(1) {
    border-left:1px solid #313131;
}

ul.menu li:nth-child(4) {
    -moz-box-shadow: 1px 0px #404040;
    -webkit-box-shadow: 1px 0px #404040;
    box-shadow: 1px 0px #404040;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 90, color = '#404040');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 90, Color = '#404040')";

}

ul.menu li a:hover {
    background-color: #4a4a4a;
    transition: all .2s ease;
    -o-transition: all .2s ease; /* opera */
    -ms-transition: all .2s ease; /* IE 10 */
    -moz-transition: all .2s ease; /* Firefox */
    -webkit-transition: all .2s ease; /*safari and chrome */
}

    




/*  Heading  */
section.heading {
    background-color: $green;
    background-image: url(../img/bg-heading-pat.png);
    border-bottom: 1px solid #fff;

    h2  {
        color: #fff;
        text-align: left;
    }

    ul.select-menu  {

        float: right;
        position: relative;
        top:-40px;


        li.list-title {
            color: #FFFFFF;
            font-size: 12px;
            padding: 10px 15px;
            text-transform: uppercase;
            }

        li     {
            display: block;
            float:left;
            padding: 10px 15px;
            background-color: $dk-green;
            color: #fff;
            margin-right: 5px;
            font-size: 11px;
            text-transform: uppercase;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */
            cursor: pointer;
            opacity: 1.0;
            transition: all .2s ease; /* vendorless fallback */
            -o-transition: all .2s ease; /* opera */
            -ms-transition: all .2s ease; /* IE 10 */
            -moz-transition: all .2s ease; /* Firefox */
            -webkit-transition: all .2s ease; /*safari and chrome */
            
        }

        
    }

    ul.select-menu li:hover   {
        background-color: #20968c;
        opacity: 1.0 !important;
        transition: all .2s ease; /* vendorless fallback */
        -o-transition: all .2s ease; /* opera */
        -ms-transition: all .2s ease; /* IE 10 */
        -moz-transition: all .2s ease; /* Firefox */
        -webkit-transition: all .2s ease; /*safari and chrome */
    }
    ul.select-menu li:nth-child(1)    {
            background: none;
            cursor: default;
            opacity: 1.0 !important;
        }


}

    




/*  Featured  */
.featured   {
    width: 100%;
    height: 500px;
    background-color: #9dddf4;
    border-bottom: 1px solid #fff;
    background-image: url(../img/bg-feature.jpg);
    }

.featured-bg    {
    height: 100%;
    width:100%;
    background: url(../img/feature-laptop.png) no-repeat center bottom;


    .wrap-section   {
        text-align: center;
        padding-top: 50px;
    }

    h2  {
        color: #fff
        ;
        font-size: 60px;
        position: relative;
        line-height: 62px;
        border-bottom: 1px solid #fff;
        padding-bottom: 12px;
        margin:0 5%;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);

        span    {
            text-transform: uppercase;
        }
    }

    p   {
        color: #fff;
        font-size: 22px;
        margin: 0 12%;
        line-height: 28px;
        position: relative;
        padding-top: 12px;
        text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
        
    }

    a.cover-button {
        position: relative;
    }

    }

    




/*  Section  */
section {
    padding:55px 0;
}

.wrap-section   {
    width:1000px;
    position: relative;
    margin:0 auto;
    text-align:left;
    padding: 0 40px;
}

    




/*  Section Slider  */
section.slider-sect {
    overflow: hidden;
}

.section-slider {
    position: relative;  

    h3  {
        color: #999;
    }

    h4  {
        color: #999;
    }

    p   {
        color: #999;
    }


}

.thumb-slider   {
    width: 250px;
    height: 172px;
    background: url(../img/spinner-off-white.gif) center center no-repeat #f8f8f8;

    a {
        display: block;
    }
}

.thumb-slider   img {
    width: 250px;
    height: auto;
}

ul.bxslider li {
    overflow: hidden;
}

a.bx-prev  {
    display: block;
    text-indent: -99999px;
    position: absolute;
    left:-45px;
    top:45%;
    background: url(../img/sprite.svg) 13px 11px no-repeat;
    background-color: #d3d4d4;
    width: 31px;
    height: 31px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* future proofing */
    -khtml-border-radius: 3px; /* for old Konqueror browsers */
}

a.bx-next  {
    display: block;
    text-indent: 99999px;
    position: absolute;
    right:-45px;
    top:45%;
    background: url(../img/sprite.svg) -30px 11px no-repeat;
    background-color: #d3d4d4;
    width: 31px;
    height: 31px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* future proofing */
    -khtml-border-radius: 3px; /* for old Konqueror browsers */
}


a.bx-next:hover, a.bx-prev:hover  {
    background-color: #ccc;
    cursor: pointer;
}

    




/*  Section - heading */
section.heading     {

    span    {
        font-size: 14px;
        font-style: italic;
        color: #fff;
    }

    h5  {
        color: #fff;
    }

    
}

section.heading.work    {
    padding-bottom: 25px;

    span    {
        display: block;
        clear: both;
    }
}

    




/*  Section - Tiles */

section .col-third  {
    float:left;
    margin-bottom: 35px !important;
    transition: all .2s ease; /* vendorless fallback */
    -o-transition: all .2s ease; /* opera */
    -ms-transition: all .2s ease; /* IE 10 */
    -moz-transition: all .2s ease; /* Firefox */
    -webkit-transition: all .2s ease; /*safari and chrome */
}


    .three-tiles     {
    width:290px;
    height: 200px;
    background-color: #f8f8f8;
    background:url(../img/spinner-off-white.gif) center center #f8f8f8 no-repeat;
    margin-bottom: 12px;
    position: relative;
    transition: all .2s ease; /* vendorless fallback */
    -o-transition: all .2s ease; /* opera */
    -ms-transition: all .2s ease; /* IE 10 */
    -moz-transition: all .2s ease; /* Firefox */
    -webkit-transition: all .2s ease; /*safari and chrome */

    img {
        position: absolute;
        top:0;
        left: 0;
        z-index: 1;

    }

    a.button-work   {
            z-index: 3000;
            position: absolute;
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 50px;
            background-color: #3a3a3a;
            font-size: 11px;
            position: absolute;
            top: 0;
            left: 39.5%;
            padding:12px 18px;
            text-transform: uppercase;
            color: #fff;
            transition: all .5s ease; /* vendorless fallback */
            -o-transition: all .5s ease; /* opera */
            -ms-transition: all .5s ease; /* IE 10 */
            -moz-transition: all .5s ease; /* Firefox */
            -webkit-transition: all .5s ease; /*safari and chrome */

            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */
            
            opacity: .0;

        }

    a.button-work:hover {
        background-color: #222;
    }

    

    .tile-hover {
        z-index: 90;
        position: relative;
        height: 100%;
        width: 100%;
        background-color: $green;
        opacity: .0;
        text-align: center;
        margin: auto 0;
        transition: all .5s ease; /* vendorless fallback */
        -o-transition: all .5s ease; /* opera */
        -ms-transition: all .5s ease; /* IE 10 */
        -moz-transition: all .5s ease; /* Firefox */
        -webkit-transition: all .5s ease; /*safari and chrome */
        
    }

}


.three-tiles:hover > .tile-hover {
        transition: all .2s ease;
        -o-transition: all .2s ease; /* opera */
        -ms-transition: all .2s ease; /* IE 10 */
        -moz-transition: all .2s ease; /* Firefox */
        -webkit-transition: all .2s ease; /*safari and chrome */
        opacity: .97;

        a.button-work   {
            opacity: 1.0;
        }

        


}


.three-tiles:hover  {

    a {
        margin-top: 85px;
        opacity: 1.0;
    }



}

.col-third:nth-child(2)  {
    margin: 0 65px;
}
.col-third:nth-child(5)  {
    margin: 0 65px;
}
.col-third:nth-child(8)  {
    margin: 0 65px;
}

.dull {
    opacity: .3;
    transition: all .2s ease; /* vendorless fallback */
    -o-transition: all .2s ease; /* opera */
    -ms-transition: all .2s ease; /* IE 10 */
    -moz-transition: all .2s ease; /* Firefox */
    -webkit-transition: all .2s ease; /*safari and chrome */
}

.select-active     {
    background-color: #fff !important;
    color: #28A59A !important;
    opacity: 1.0 !important;
}



/*  Section Green  */
.icn-bubble {
    width: 220px;
    height: 165px;
    background: url(../img/sprite.svg) -0px -163px no-repeat;
}

    




/*  Section - About */
section.about   {

    h3  {
        font-style: normal;
    }


    ul.bullets  {
        margin:12px 0 35px;
    }

    ul.bullets li   {
        margin-left:15px;
        list-style: disc;
        font-size: 14px;
        margin-bottom: 12px;

        span    {
            font-style: italic;
        }
    }

    ul.list   {
        margin-top: 12px;
        margin-bottom: 15px;

        li {
        font-size: 12px;
        margin-bottom: 6px;

        span    {
            font-weight: bold;
            font-size: 14px;
            font-style: italic;
        }

        }
    }

    ul.list li:nth-child(1)    {
        font-size: 12px;
        text-transform: uppercase;
    }

    ul.list li:nth-child(3)    {
        font-style: italic;
    }

    .bar-graph-wrap {


        span {
            display: block;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 3px;
        }

        .bar-holder {
            position: relative;
            margin-bottom: 12px;
            width: auto;
            height:12px;
            border-top: 1px solid #BBBBBB;
            border-bottom: 1px solid #f5f5f5;
            background: #c0c2c2;
            background: -moz-linear-gradient(top,  #c0c2c2 0%, #dadbdb 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c2c2), color-stop(100%,#dadbdb));
            background: -webkit-linear-gradient(top,  #c0c2c2 0%,#dadbdb 100%);
            background: -o-linear-gradient(top,  #c0c2c2 0%,#dadbdb 100%);
            background: -ms-linear-gradient(top,  #c0c2c2 0%,#dadbdb 100%);
            background: linear-gradient(to bottom,  #c0c2c2 0%,#dadbdb 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c2c2', endColorstr='#dadbdb',GradientType=0 );
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px; /* future proofing */
            -khtml-border-radius: 20px; /* for old Konqueror browsers */
            
        }

        .bar-holder.last {
            margin-bottom: 0;
        }

        .bar   {
            width: 12%;
            height: 100%;
            position: relative;
            background-color: #2dbcaf;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px; /* future proofing */
            -khtml-border-radius: 20px; /* for old Konqueror browsers */

            strong {
                color: #fff;
                font-size: 11px;
                font-weight: bold;
                background-color: #3a3a3a;
                display: block;
                padding:5px 7px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px; /* future proofing */
                -khtml-border-radius: 3px; /* for old Konqueror browsers */
                position: absolute;
                right:-9px;
                top: -29px;
                opacity: .0;


            }

            strong:after {
                width: 0px;
                height: 0px;
                display: block;
                content: "";
                position: absolute;
                bottom: -5px;
                left: 14px;
                border-style: solid;
                border-width: 5px 6px 0 4px;
                border-color: #3a3a3a transparent transparent transparent;

            }
        }
    }

   
    
}


section.about     {

    .quarter {
        border-left:1px solid #ccc;
        padding-left: 25px;
        padding-bottom: 100px;

        a {
            color: $green;
        }

        a:hover {
            color: $dk-green;
        }
    }

    .three-quarters {

        a {
            color: $green;
        }

        a:hover {
            color: $dk-green;
        }
    }  

}


ul.sidebar-list {
        margin-top: 22px;

    li {
        font-size: 12px;
        margin-bottom: 16px;
        text-indent: 26px;
        background: url(../img/sprite.svg) 0 -380px no-repeat;
        height: 14px;

        
        a {
            color: #777;


        }

        a:hover {
            color: #999;
        }

    }

    li:nth-child(1) {
            padding-top: 3px;
    }
}

ul.sidebar-list li:nth-child(2) {
    background-position: 0 -412px;
}

    




/*  Section - Contact */

.contact-heading    {
    width: 100%;
    height:375px;
    border-bottom: 1px solid #fff;
}

section.contact {

    form {
        margin-top: 25px;

        label {
            display: block;
            margin-bottom: 12px;
            font-size: 14px;

            span {
                color: $green;
            }
    }
    
        input {
            display: block;
            padding:10px;
            width: 85%;
            border: 1px solid #ced0d0;
            border-bottom: 1px solid #f8f8f8;
            color: #3a3a3a;
            margin-bottom: 30px;

            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */

            background: #d9dada;
            background: -moz-linear-gradient(top,  #d9dada 1%, #e2e3e3 9%, #e1e3e3 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d9dada), color-stop(9%,#e2e3e3), color-stop(100%,#e1e3e3));
            background: -webkit-linear-gradient(top,  #d9dada 1%,#e2e3e3 9%,#e1e3e3 100%);
            background: -o-linear-gradient(top,  #d9dada 1%,#e2e3e3 9%,#e1e3e3 100%);
            background: -ms-linear-gradient(top,  #d9dada 1%,#e2e3e3 9%,#e1e3e3 100%);
            background: linear-gradient(to bottom,  #d9dada 1%,#e2e3e3 9%,#e1e3e3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dada', endColorstr='#e1e3e3',GradientType=0 );

            
            
        }

        input[type="submit"] {
                width: auto;
                display: inline-block;
                font-size: 12px;
                color: #fff;
                font-weight: 200;
                line-height: .5;
                padding: 12px 30px;
                background: #3a3a3a;
                text-transform: uppercase;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px; /* future proofing */
                -khtml-border-radius: 3px; /* for old Konqueror browsers */
                border: 0;
                transition: all .2s ease; /* vendorless fallback */
                -o-transition: all .2s ease; /* opera */
                -ms-transition: all .2s ease; /* IE 10 */
                -moz-transition: all .2s ease; /* Firefox */
                -webkit-transition: all .2s ease; /*safari and chrome */
            }

        input[type="submit"]:hover {
                background-color: #222;
                transition: all .2s ease; /* vendorless fallback */
                -o-transition: all .2s ease; /* opera */
                -ms-transition: all .2s ease; /* IE 10 */
                -moz-transition: all .2s ease; /* Firefox */
                -webkit-transition: all .2s ease; /*safari and chrome */
        }

        input:focus {
            border: 1px solid $green;
        }
        

        textarea {
            height: 150px;
            padding:10px;
            width: 85%;
            border: 1px solid #ced0d0;
            border-bottom: 1px solid #f8f8f8;
            color: #3a3a3a;
            margin-bottom: 30px;

            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */

            background: #d9dada;
            background: -moz-linear-gradient(top,  #d9dada 1%, #e2e3e3 1%, #e1e3e3 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d9dada), color-stop(1%,#e2e3e3), color-stop(100%,#e1e3e3));
            background: -webkit-linear-gradient(top,  #d9dada 1%,#e2e3e3 1%,#e1e3e3 100%);
            background: -o-linear-gradient(top,  #d9dada 1%,#e2e3e3 1%,#e1e3e3 100%);
            background: -ms-linear-gradient(top,  #d9dada 1%,#e2e3e3 1%,#e1e3e3 100%);
            background: linear-gradient(to bottom,  #d9dada 1%,#e2e3e3 1%,#e1e3e3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dada', endColorstr='#e1e3e3',GradientType=0 );
        }

        textarea:focus {
            border: 1px solid $green;
        }

    }

    .quarter {
        padding-left: 25px;
        padding-bottom: 100px;
        border-left: 1px solid #ccc;
    }

    ul {
        margin-top: 25px;

     li {
        font-size: 12px;
        margin-bottom: 16px;
        text-indent: 26px;
        background: url(../img/sprite.svg) 0 -412px no-repeat;

        span {
            font-weight: bold;
        }
      }

      li:nth-child(2) {
        background-position: 2px -441px;
        height: 17px;
        padding-top: 3px;
      }
    }
}

#map-canvas {
    width: 100%;
    height: 100%;
}

/*  Contact 7  */

    /*Success*/
.wpcf7-mail-sent-ok {
    border:0 !important;
    background-color: #72d940 !important;

}

.wpcf7-response-output {
    width: 85%;
    margin: 0 0 0 0 !important;
    padding:12px !important;
    font-size: 12px;
    color: #fff;
    
}

   /*Error*/
.wpcf7-form-control-wrap {
    display: block;
}

.wpcf7-validation-errors {
    border: 0 !important;
}

.wpcf7-response-output {
    width: 85%;
    margin: 0 0 0 0 !important;
    padding:12px !important;
    font-size: 12px;
    color: #fff;
    background-color: #f8ca70;
}


span.wpcf7-not-valid-tip {
    top:43px !important;
    left:0px !important;
    background: none !important;
    border:none !important;
    font-size: 11px !important;
    color: red;
}

    




/*  Section Banner  */
section.banner  {
    background-color: #d9dbdb;
    border-top: 1px solid #cbcccc;

    .row    {
        text-align: center;
        padding:0 18%;

        h2  {
            float:left;
            font-size: 36px;
            color: #999;
        }

        a  {
            float:left;
            margin-top:4px;
            margin-left: 35px;
        }
    }
}

    




/*  Section - Single  */
section.single {
    padding: 55px 0 0;

    img {
        margin-bottom: 55px;
    }

}
ul.single-nav {
    margin-top: 15px;

    li {
        display: block;
        float:left;
        margin:0 12px;
        width: 32px;
        height:32px;

            color: #fff;
            background-color: $dk-green;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */
            transition: all .2s ease; /* vendorless fallback */
            -o-transition: all .2s ease; /* opera */
            -ms-transition: all .2s ease; /* IE 10 */
            -moz-transition: all .2s ease; /* Firefox */
            -webkit-transition: all .2s ease; /*safari and chrome */

        a {
            display: block;
            width: 32px;
            height:32px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */
            transition: all .2s ease; /* vendorless fallback */
            -o-transition: all .2s ease; /* opera */
            -ms-transition: all .2s ease; /* IE 10 */
            -moz-transition: all .2s ease; /* Firefox */
            -webkit-transition: all .2s ease; /*safari and chrome */
            }

        a:hover {
            background-color: #20968c;
            transition: all .2s ease; /* vendorless fallback */
            -o-transition: all .2s ease; /* opera */
            -ms-transition: all .2s ease; /* IE 10 */
            -moz-transition: all .2s ease; /* Firefox */
            -webkit-transition: all .2s ease; /*safari and chrome */
        }

    }

    li.single-tiles a {
            background: url(../img/sprite.svg) $dk-green 9px -18px no-repeat;
    }

    li.single-next {
        background: url(../img/sprite.svg) $dk-green 12px -49px no-repeat;
    }

    li.single-next a {
            background: url(../img/sprite.svg) $dk-green -29px 11px no-repeat;
    }

    li.single-prev a {
            background: url(../img/sprite.svg) $dk-green 13px 11px no-repeat;
    }

        li.single-prev  {
            background: url(../img/sprite.svg) $dk-green 12px -49px no-repeat;
    }

    li.single-tiles a:hover, li.single-next a:hover, li.single-prev a:hover {
        background-color: #20968c;
    } 



}


ul.single-nav li:nth-child(2) {
    margin-right: 5px;
}

ul.single-nav li:nth-child(3) {
    margin-right: 0;
    margin-left: 0px;
}


section.single {

    a.small-link {
        display: block;
        margin-bottom: 25px;
    }

    ul.single-list {
        margin-top: 18px;

        li {
            height: 16px;
            font-size: 11px;
            padding-bottom: 6px;
            margin-bottom: 12px;
            border-bottom: 1px dotted #ccc;

            span {
                display: block;
                width: 14px;
                height: 14px;
                background-color: #999;
                float:left;
                margin-right: 12px;
                background: url(../img/sprite.svg) 0px -139px;
            }
        }

    }

    .quarter p {
        margin-bottom: 35px;
    }

    img {
        width: 70%;
        height: auto;
        border:1px solid #CCCCCC;
    }


}

    




/*  Footer  */
footer  {
    padding:25px 0;
    width: 100%;
    background-color:$grey;
    border-top: 1px solid #212020;
}

ul.menu-footer   {
    float:left;
    margin-top: 5px;

    li  {
        display: inline-block;

        a   {
            font-style: italic;
            color: #7f7f7f;
            font-size: 14px;
            padding-right:25px;
        }
    }

}

.soc a  {
    display: block;
    height: 22px;
    width: 22px;
    background-image:url(../img/sprite.svg);
    margin-left: 22px;
    transition: all .2s ease; /* vendorless fallback */
    -o-transition: all .2s ease; /* opera */
    -ms-transition: all .2s ease; /* IE 10 */
    -moz-transition: all .2s ease; /* Firefox */
    -webkit-transition: all .2s ease; /*safari and chrome */
    opacity: .5;
}

.soc-a a {
    background-position: -32px -97px;
}

.soc-b a {
    background-position: 0 -97px;
}

.soc-a a:hover {
    opacity: 1.0;
    transition: all .2s ease; /* vendorless fallback */
    -o-transition: all .2s ease; /* opera */
    -ms-transition: all .2s ease; /* IE 10 */
    -moz-transition: all .2s ease; /* Firefox */
    -webkit-transition: all .2s ease; /*safari and chrome */
}

.soc-b a:hover {
    opacity: 1.0;
    transition: all .2s ease; /* vendorless fallback */
    -o-transition: all .2s ease; /* opera */
    -ms-transition: all .2s ease; /* IE 10 */
    -moz-transition: all .2s ease; /* Firefox */
    -webkit-transition: all .2s ease; /*safari and chrome */
}

    




/*  Scroll UP  */

.scrollup{
    width:31px;
    height:31px;
    opacity:.75;
    position:fixed;
    bottom:20px;
    right:25px;
    display:none;
    text-indent:-9999px;
    background: url(../img/sprite.svg) 9px -348px no-repeat;
    background-color: $dk-green;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* future proofing */
    -khtml-border-radius: 3px; /* for old Konqueror browsers */
    z-index: 9999;
    
}

.scrollup:hover {
    opacity: 1.0;
}

    




/* Color Box */

#cboxOverlay    {
    opacity: .87;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    overflow: hidden;
    background-color: #000;
    opacity: .96;
}

#colorbox {
    /*overflow: hidden;*/
    outline: 0;
    position: absolute;
    top: 50px !important;
}

#cboxWrapper {
    /*overflow: hidden;*/
    outline: 0;
}

#cboxLoadedContent  {
    overflow: hidden !important;
    padding-top:50px;
}

img.cboxPhoto   {
}

    




/*  Color Box Heading  */
#cboxTitle {
    position: absolute;
    top:0;
    font-size: 22px;
    color: #fff;
}

#cboxCurrent    {
    position: absolute;
    top: 28px;
    font-size: 12px;
    text-transform: uppercase;
}

a.cboxElement {

}

#cboxLoadedContent {
    background: url(../img/spinner.gif) no-repeat center center;
}

#cboxContent button {
    width: 30px;
    height: 25px;
    top:18px;
    background-color: transparent;
    border: 0;
    background-image: url(../img/sprite.svg);
    background-repeat: no-repeat;
    text-indent: -9999px;
    opacity: .5;

}

button#cboxClose {
    position: absolute;
    right: 0;
    background-position: 15px -475px;
}

button#cboxNext {
    position: absolute;
    right:25px;
    background-position: -50px -475px;
}

button#cboxPrevious {
    position: absolute;
    right: 55px;
    background-position: -20px -475px;
}


button#cboxClose:hover {
    opacity: 1.0;
}

button#cboxNext:hover {
    opacity: 1.0;
}

button#cboxPrevious:hover {
    opacity: 1.0;
}

    




    



/*==========================================================================*/
/* In Between
/*==========================================================================*/







@media screen and (min-width: 761px) and (max-width: 999px) {
    

    .wrap-section {
        width: auto;
    } 

    /* Banner */

    section.banner {
        padding: 55px 0;
        
        .row {
            padding:  0 5%;

            h2 {
                float: none;
                font-size: 24px;
            }

            a {
                margin-left: 0;
                float: none;
            }
        }

    }


    /* Header */

    .wrap-header {
        width: auto;
    }

    /* Featured */

    .featured {

        h2 {
            font-size: 49px;
            line-height: 48px;
        }
    }

    
    /* Slider */

    a.bx-prev {
            left:-35px;
        }

    a.bx-next {
        right:-35px;
    }


    section.bg-green {

        .three-quarters {
            width: 65%;
        }
    }


    
    /* About */

    section.about {

        .col-50 {

            h2 {
                margin-top:0px;
            }
        }

        .quarter {
            padding: 0;
            width: auto;
            border-left: none;
            padding-top: 0;
            padding-bottom:35px;
            margin-bottom: 35px;
            border-bottom: 1px solid #ccc;
            float:none;
        }

        .three-quarters {
            float: none;
            width: auto;
        }
    }


    
    /* Work */

    section .col-third {
        float: none;



        .tile-hover {
            display: none;
        }

        .three-tiles:hover a {
            margin-top: 0;
        }

        .three-tiles {
            width: auto;
            height: auto;
            background-color: transparent;

            a.button-work {
                display: none;
            }

            a {
                display: block;
            }


            img {
                position: relative;
                left: none;
                top:none;
                width: 100%;
                height: auto;
            }
        }
    }

    .col-third:nth-child(2) {
        margin: 0 0;
    }
        .col-third:nth-child(5) {
        margin: 0 0;
    }
        .col-third:nth-child(8) {
        margin: 0 0;
    }
            .col-third:nth-child(10) {
        margin: 0 0;
    }
                .col-third:nth-child(13) {
        margin: 0 0;
    }



    
    /* Contact */

    section.contact {

        .quarter {
            border-left: none;
            padding: 0;
            border-top:1px solid #ccc;
            padding-top:25px;
            float: none;
            width: auto;
        }

        .three-quarters {
            float:none;
            width: auto;
        }

        form {

            input {
                width: 97%;
            }

            textarea {
                width: 97%;
            }

        }

        .wpcf7-response-output {
            width: auto;
        }
    }


    
    /*  Form  */

    .wpcf7-response-output {
        margin-bottom: 25px !important;
    }

}   

    




    




/*==========================================================================*/
/* Tablet
/*==========================================================================*/







@media screen and (min-width: 480px) and (max-width: 760px) {

section {
    padding: 55px 0;
}

.wrap-section {
    width: auto;
}   

.right {
    float:none;
}

.left {
    float: none;
}

.three-quarters {
    width: auto;
}

.quarter {
    width: auto;
}

.col-45 {
    width: auto;
} 

.col-50 {
    width: auto;
}

.col-third {
    float: none;
    clear: both;
}

.col-third:nth-child(2) {
    margin: 0 0;
}
    .col-third:nth-child(5) {
    margin: 0 0;
}
    .col-third:nth-child(8) {
    margin: 0 0;
}
        .col-third:nth-child(10) {
    margin: 0 0;
}
            .col-third:nth-child(13) {
    margin: 0 0;
}

    /*  Banner  */
    section.banner {
        padding: 55px 0;
        
        .row {
            padding:  0 5%;

            h2 {
                float: none;
                font-size: 24px;
            }

            a {
                margin-left: 0;
                float: none;
            }
        }

    }

    /*  Section Heading  */
    section.heading {
        text-align: center;

        .wrap-section {
            text-align: center;

            span {
                line-height: 22px;
            }
        }
    }

/*  Header  */
header {

    .wrap-header {
        width: auto;
        padding: 0;
    }

    .logo {
        margin-left: 40px;
        margin-bottom: 25px;
    }

    nav {
        display: none;
    }

    
    .burger-menu {
        display: block;
        margin-top: 35px;
        cursor: pointer;
        margin-right: 40px;
        float: right;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #777;
            margin-bottom: 5px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */
        }
    }

    .mobile-nav {
        display: block;
    }


    ul.menu {
        display: block;
        clear: both;
        background-color: #222;
        border-top: 1px solid #111;
        border-bottom: 1px solid #111;
        padding-bottom: 30px;


        li {
            float:none;
            padding: 0 40px;

            a {
                border: none;
                width: auto;
                padding:25px 0px 15px;
                height: auto;
                border-bottom: 1px dotted #3a3a3a;
            }
        }
        li a:hover {
            background-color: #222;
        }
    }


    ul.menu li:nth-child(1) {
        border-left: none;
        border-top: none;
    }
    ul.menu li:nth-child(4) {
        box-shadow: none;
    }

}

/*  Featured  */

    .featured {
        height: 450px;
        border-bottom: none;

        .featured-bg {
            background-size: auto 50%;

            .wrap-section {
            }
        }

        h2 {
            font-size: 32px;
            line-height: 36px;
            margin:0;
        }

        p {
            font-size: 18px;
            line-height: 24px;
            margin:0 2%;
        }

    }

/*  Slide Sect  */
    section.slider-sect {

        h2 {
            text-align: center;
        }

        .section-slider ul.bxslider li {
            margin-top: 12px;

            .quarter {
                width: 250px;
                height: auto;
                margin: auto;
                margin-bottom: 25px;
                padding:0 55px;
                text-align: center;

            }

            .three-quarters {
                width: auto;
                text-align: center;
                padding: 0 25px;
            }

            a.small-link {
                display: block;
            }
        }

        a.bx-prev {
            left:-25px;
        }

        a.bx-next {
            right:-25px;
        }

    }

/*  Section Contact, Green  */
    section.bg-green.type-white {
        text-align: center;

        .quarter.left {
            float: none;
            width: auto;
        }

        .icn-bubble {
            margin:auto;
            height: 145px;
            background-position: 30px -122px;
            background-size: 75%;
        }

        .three-quarters.right {
            float: none;
            width: auto;
            text-align: center;
            margin-top: 25px;
        }
    }

/*  About  */
    section.about {

        .col-50 {

            h2 {
                margin-top:25px;
            }
        }

        .quarter {
            padding: 0;
            border-left: none;
            padding-top: 0;
            padding-bottom:35px;
            margin-bottom: 35px;
            border-bottom: 1px solid #ccc;
        }


    }

    section.about ul.bullets li {
        line-height: 17px;
    }

    


/*  Work  */

    section.heading.work {

        span {
            margin-bottom: 25px;
        }

        padding-bottom: 55px;

        ul.select-menu.right {
            float: none;
            top:0;
            margin: auto;
            text-align: center;
            width: 345px;
        }

        ul.select-menu li {
            float:left;
            width: auto;
            margin: auto;
            margin-bottom:12px;
            margin-right: 5px;
        }
    }

    section .col-third {
        float: none;



        .tile-hover {
            display: none;
        }

        .three-tiles:hover a {
            margin-top: 0;
        }

        .three-tiles {
            width: auto;
            height: auto;
            background-color: transparent;

            a.button-work {
                display: none;
            }

            a {
                display: block;
            }


            img {
                position: relative;
                left: none;
                top:none;
                width: 100%;
                height: auto;
            }
        }
    }

/*  Single  */

    ul.single-nav {
        width: 145px;
        margin: auto;
        margin-top: 20px;

        li {
            margin-right: 0px;

            .single-prev {
                margin-left: 5px;
            }
        }
    }

    ul.single-nav li:nth-child(2) {
        margin-left: 5px;
    }

    section.single {

        .quarter {
            margin-bottom: 25px;
        }

        img {
            width: 100%;
        }

    }



/*   Contact   */
    .contact-heading {
        height: 325px;

        .gmnoprint {
            display: none;
        }
    }


    section.contact {

        .quarter {
            border-left: none;
            padding: 0;
            border-top:1px solid #ccc;
            padding-top:25px;
        }

        form {

            input {
                width: 97%;
            }

            textarea {
                width: 97%;
            }

        }
    }


    /*  Form  */

    .wpcf7-response-output {
        margin-bottom: 25px !important;
        width: auto;
    }


/*  Footer  */
    footer {
        text-align: center;

        ul.menu-footer {
            float:none;
            text-align: left;
            
        }

        ul.menu-footer li {
            display: block;

            a {
                display: block;
                padding: 0;
                margin-bottom: 25px;
                border-bottom:1px dotted #222;
                padding-bottom: 12px;
            }
        }

        .social-links {
            width: 70px;
            margin: auto;
        }

        .soc {
            margin: 0px;
            float: left;
            
        }

        .soc a {
            margin:auto;
            text-align: center;

        }

        .soc.soc-a {
                margin-right: 12px;
            }

        .soc.soc-b {
                margin-left: 12px;
            }
    }

}





/*==========================================================================*/
/* Mobile                                   
/*==========================================================================*/





@media screen and (min-width: 320px) and (max-width: 479px) {

section {
    padding: 55px 0;
}

.wrap-section {
    width: auto;
}

section {
    padding: 35px 0 !important;
}   

.right {
    float:none;
}

.left {
    float: none;
}

.three-quarters {
    width: auto;
}

.quarter {
    width: auto;
}

.col-45 {
    width: auto;
} 

.col-50 {
    width: auto;
}

.col-third {
    float: none;
    clear: both;
}

.col-third:nth-child(2) {
    margin: 0 0;
}
    .col-third:nth-child(5) {
    margin: 0 0;
}
    .col-third:nth-child(7) {
    margin: 0 0;
}
    .col-third:nth-child(8) {
    margin: 0 0;
}
        .col-third:nth-child(10) {
    margin: 0 0;
}
            .col-third:nth-child(13) {
    margin: 0 0;
}

    /*  Banner  */
    section.banner {
        padding: 55px 0;
        
        .row {
            padding:  0 5%;

            h2 {
                float: none;
                font-size: 24px;
            }

            a {
                margin-left: 0;
                float: none;
            }
        }

    }

    /*  Section Heading  */
    section.heading {
        text-align: center;
        padding: 35px 0 !important;

        .wrap-section {
            text-align: center;

            span {
                line-height: 22px;
            }
        }
    }

/*  Header  */
header {

    .wrap-header {
        width: auto;
        padding: 0;
    }

    .logo {
        margin-left: 10px;
        margin-bottom: 20px;
        padding-top: 20px;

        h1 {
            font-size: 18px;
        }

        span {
            font-size: 0.6em;
        }
    }

    nav {
        display: none;
    }

    
    .burger-menu {
        display: block;
        margin-top: 28px;
        cursor: pointer;
        margin-right: 20px;
        float: right;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #777;
            margin-bottom: 5px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; /* future proofing */
            -khtml-border-radius: 3px; /* for old Konqueror browsers */
        }
    }

    .mobile-nav {
        display: block;
    }


    ul.menu {
        display: block;
        clear: both;
        background-color: #222;
        border-top: 1px solid #111;
        border-bottom: 1px solid #111;
        padding-bottom: 30px;


        li {
            float:none;
            padding: 0 40px;

            a {
                border: none;
                width: auto;
                padding:25px 0px 15px;
                height: auto;
                border-bottom: 1px dotted #3a3a3a;
            }
        }
        li a:hover {
            background-color: #222;
        }
    }


    ul.menu li:nth-child(1) {
        border-left: none;
        border-top: none;
    }
    ul.menu li:nth-child(4) {
        box-shadow: none;
    }

}

/*  Featured  */

    .featured {
        height: 350px;
        border-bottom: none;

        .featured-bg {
            background-size: auto 34%;

            .wrap-section {
                padding-top: 20px;
            }
        }

        h2 {
            font-size: 24px;
            line-height: 26px;
            margin:0;
        }

        p {
            margin:0 2%;
            font-size: 14px;
            line-height: 18px;
        }

    }

/*  Slide Sect  */
    section.slider-sect {

        h2 {
            text-align: center;
        }

        .section-slider ul.bxslider li {
            margin-top: 12px;

            .quarter {
                width: 250px;
                height: auto;
                margin: auto;
                margin-bottom: 25px;
                padding:0 0px;
                text-align: center;

            }

            .three-quarters {
                width: auto;
                text-align: center;
                padding: 0 25px;
            }

            a.small-link {
                display: block;
            }
        }

        a.bx-prev {
            left:-25px;
        }

        a.bx-next {
            right:-25px;
        }

    }

/*  Section Contact, Green  */
    section.bg-green.type-white {
        text-align: center;

        .quarter.left {
            float: none;
            width: auto;
        }

        .icn-bubble {
            margin:auto;
            height: 145px;
            background-position: 30px -122px;
            background-size: 75%;
        }

        .three-quarters.right {
            float: none;
            width: auto;
            text-align: center;
            margin-top: 25px;
        }
    }

/*  About  */
    section.about {

        .col-50 {

            h2 {
                margin-top:25px;
            }
        }

        .quarter {
            padding: 0;
            border-left: none;
            padding-top: 0;
            padding-bottom:35px;
            margin-bottom: 35px;
            border-bottom: 1px solid #ccc;
        }
    }

    section.about ul.bullets li {
        line-height: 17px;
    }


/*  Work  */

    section.heading.work {

        span {
            margin-bottom: 25px;
        }

        padding-bottom: 55px;

        ul.select-menu.right {
            float: none;
            top:0;
            margin: auto;
            text-align: center;
            width: 265px;
        }

        ul.select-menu li {
            float:left;
            width: auto;
            margin: auto;
            margin-bottom:12px;
            margin-right: 5px;
        }
    }

    section .col-third {
        float: none;



        .tile-hover {
            display: none;
        }

        .three-tiles:hover a {
            margin-top: 0;
        }

        .three-tiles {
            width: auto;
            height: auto;
            background-color: transparent;

            a.button-work {
                display: none;
            }

            a {
                display: block;
            }


            img {
                position: relative;
                left: none;
                top:none;
                width: 100%;
                height: auto;
            }
        }
    }

/*  Single  */

    ul.single-nav {
        width: 145px;
        margin: auto;
        margin-top: 20px;

        li {
            margin-right: 0px;

            .single-prev {
                margin-left: 5px;
            }
        }
    }

    ul.single-nav li:nth-child(2) {
        margin-left: 5px;
    }

    section.single {

        .quarter {
            margin-bottom: 25px;
        }

        img {
            width: 100%;
        }

    }



/*   Contact   */
    .contact-heading {
        height: 275px;

        .gmnoprint {
            display: none;
        }
    }

    section.contact {

        .quarter {
            border-left: none;
            padding: 0;
            border-top:1px solid #ccc;
            padding-top:25px;
        }

        form {

            input {
                width: 96%;
            }

            textarea {
                width: 96%;
            }

        }
    }


    /*  Form  */

    .wpcf7-response-output {
        margin-bottom: 25px !important;
        width: auto;
    }


/*  Footer  */
    footer {
        text-align: center;

        ul.menu-footer {
            float:none;
            text-align: left;
            
        }

        ul.menu-footer li {
            display: block;

            a {
                display: block;
                padding: 0;
                margin-bottom: 25px;
                border-bottom:1px dotted #222;
                padding-bottom: 12px;
            }
        }

        .social-links {
            width: 70px;
            margin: auto;
        }

        .soc {
            margin: 0px;
            float: left;
            
        }

        .soc a {
            margin:auto;
            text-align: center;

        }

        .soc.soc-a {
                margin-right: 12px;
            }

        .soc.soc-b {
                margin-left: 12px;
            }
    }

    
    .scrollup {
        bottom: 10px;
        right: 10px;
    }

}







